/* style for mobile */
* {
  box-sizing: border-box;
}
body {
  background: rgb(227, 223, 218);
  color: rgb(50, 50, 50);
}
.link {
  text-decoration: none;
  cursor: pointer;
  color: rgb(0, 110, 200);
  font-weight: bold;
}
.gitLink {
  color: rgb(206, 0, 206);
  /* color: rgb(182, 58, 245); */
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}
h1 {
  margin-left: .5em;
}
h3 {
  margin-top: 2em;
  margin-bottom: .1em;
  margin-left: 1em;
}
#root {
  /* width: 100vw; */
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.navContainer {
  z-index: 1;
  display: grid;
  grid-template-columns: 85% auto;
  grid-template-rows: auto;
  position: fixed;
  width: 100vw;
  padding: .5em;
  background: rgb(68, 69, 69);
  color: rgb(75, 165, 224);
  font-size: 1.4em;
}
.header {
  grid-column: 1;
}
.iconContainer {
  max-width: 100%;
  grid-column: 2;
  display: flex;
  justify-content: right;
}
#menuIcon {
  cursor: pointer;
  position: relative;
  grid-column: 2;
  top: .1em;
  /* right: 1.2em; */
}
.menuContainer {
  display: flex;
  justify-content: right;
  grid-column: 1 / span 2;
  top: -2.5em;
}
.menuList{
  list-style: none;
}
.navLink {
  /* color: rgb(0, 181, 245); */
  cursor: pointer;
  padding-right: 1.5em;
}
.contentLink {
  color: rgb(0, 110, 200);
}
.menuList > li {
  padding: .5em;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.missionContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 2em;
}
.missionContentContainer {
  background-color: rgba(227, 223, 218, 1);
/* margin-top: -25%; */
}
/* #groupPhoto {
  background: #6114A4;
  background: -moz-linear-gradient(45deg, #6114A4 0%, #2388CB 59%, #00FFFFFF 100%);
  background: -webkit-linear-gradient(45deg, #6114A4 0%, #2388CB 59%, #00FFFFFF 100%);
  background: linear-gradient(45deg, #6114A4 0%, #2388CB 59%, #00FFFFFF 100%);
  max-width: 100%;
  margin-bottom: -1em;
} */
.content {
  padding-right: 1.5em;
  padding-left: 1.5em;
  margin-bottom: 0em;
}
.doList > li {
  list-style: none;
  padding-left: 1em;
  padding-right: 2em;
  padding-bottom: .5em;
}
/* for the green checkmarks */
.greenCheck li:before {
  font-family: "FontAwesome";
  content: "\f00c";
  margin:0 10px 0 -26px;
  color: #19811c;
}
/* for the red checkmarks */
.redCheck li:before {
  font-family: "FontAwesome";
  content: "\58";
  margin:0 10px 0 -24px;
  color: #aa1717;
}
.handCheck > li:before {
  font-family: "FontAwesome";
  content: "\f0a4";
  margin: 0 10px 0 -26px;
  color: rgb(0, 67, 112);
}
.calendarCheck > li:before {
  color: rgb(0, 67, 112);
  font-size: .7em;
  text-shadow:
    /* 4px 4px 0px #6114A4, */
    3px 3px 0px rgba(35, 136, 203, .5);
  font-family: "FontAwesome";
  content: "\2a";
  margin: 0 10px 0 -20px;
  /* color: rgb(1, 138, 172); */
}
.photoContainer {
  width: 100%;
  height: 150px;
  overflow: hidden;
}
/* #signUp {
  margin-right: 2em;
} */
.introPhoto {
  width: 100%;
}
 /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.calendarContainer {
  /* background-color: rgb(227, 223, 218); */
  top: 5em;
  position: relative;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  padding-bottom: 7em;
  margin-bottom: 7em;
}
.datesContainer {
  padding-left: 1em;
  display: flex;
  justify-content: space-around;
}
/* .calendar {
  max-width: 90vmin;
  height: 90vmin;
  margin-top: 2em;
  margin-bottom: 3em;
} */
.green {
  color: green;
}
.purple {
  color: #6114A4;
}
.blueShadow {
  color: rgb(0, 67, 112);
  text-shadow:
    /* 4px 4px 0px #6114A4, */
    3px 3px 0px rgba(35, 136, 203, .5);
    /* 12px 12px 0px #00FFFFFF; */
}
.blueBoxShadow {
  box-shadow:
    /* 4px 4px 0px #6114A4, */
    17px 17px 0px rgba(35, 136, 203, 0.5);
    /* 12px 12px 0px #00FFFFFF; */
}
.chalkBoard {
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  border: .4em solid rgb(4, 87, 142);
  background-color: rgb(182, 182, 182);
}
.flexWrapper {
  display: flex;
  justify-content: center;
}
.treeImg {
  width: 80%;
  /* margin-left: 3em; */
  /* max-height: 400px; */
  max-width: 80%;
}
.riverImg {
  width: 80%;
  margin-top: 2em;
  /* margin-left: -2em; */
  /* max-width: 80%; */
}
.background {
  margin-bottom: 2em;
}
.dates > li {
  list-style: none;
  font-size: 1.2em;
  padding-left: 1em;
  padding-right: 2em;
  padding-bottom: .5em;
}
.steps > li {
  list-style: none;
  padding-left: 1em;
  padding-right: 2em;
  padding-bottom: .5em;
}
.subSteps > li {
  padding-right: 2em;
  padding-bottom: .5em;
}
.missionStatement {
  margin-bottom: 2em;
}
.flipWrapper {
  display: flex;
  flex-direction: column-reverse;
}
.datesHeader {
  margin-left: 1em;
}
.footer {
  font-size: .7em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 1em;
  /* height: 2em; */
  color: azure;
  background-color: rgb(75, 165, 224);
}
.footerContent {
  margin: 0;
}
/* styles for desktop when the browser is 600px or above */
@media (min-width: 900px) {
  .navContainer {
    grid-template-columns: 70% auto;
  }
  .menuList {
    grid-column: 2;
    font-size: .75em;
    display: flex;
    justify-content: right;
  }
  .navLink {
    padding-right: 2em;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  .missionContainer {
    display: flex;
  } 
  .treeImg {
    margin: 0 auto;
  }
  /* #groupPhoto {
    width: 100%;
    margin-top: -3em;
  } */
  .missionContentContainer {
    padding-bottom: 4em;
    display: flex;
   }
  .leftColumn {
    max-width: 45%;
    display: flex;
    flex-direction: column;
  }
  .rightColumn {
    display: flex;
    flex-direction: column;
  }
  .welcome {
    left: -4em;
  }
  .calendarContainer {
    margin-top: -4em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .circleContentContainer {
    display: flex;
    flex-direction: column;
    max-width: 50%;
  }
  .background {
    margin-top: -1em;
  }
  .missionStatement {
    margin-top: -3em;
  }
  .datesContainer {
    display: flex;
    flex-direction: column;
  }
}
 
