/* style for mobile */
body {
  background: rgb(120, 80, 120);
  /* color: magenta; */
 }
 a {
  text-decoration: none;
  cursor: pointer;
  color: gold;
 }
 h3 {
  margin-top: 2em;
  margin-bottom: .1em;
 }
 /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
 .navContainer {
  z-index: 1;
  display: grid;
  grid-template-columns: 85% auto;
  grid-template-rows: auto;
  position: fixed;
  width: 100%;
  padding: .5em;
  background: rgb(0, 0, 187);
  color: gold;
  font-size: 1.5em;
 }
 .header {
  grid-column: 1;
 }
 .iconContainer {
  max-width: 100%;
  grid-column: 2;
  display: flex;
  justify-content: right;
 }
 #menuIcon {
  position: relative;
  grid-column: 2;
  top: .1em;
  right: 1.2em;
 }
 .menuContainer {
  grid-column: 1 / span 2;
  top: -2em;
 }
 .menuList{
  list-style: none;
 }
 .menuList > li {
  padding: .5em;
 }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.content {
  padding-right: 1.5em;
  padding-left: 1.5em;
  margin-bottom: 0em;
  
}
 /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
 .missionContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 2em;
 }
 #groupPhoto {
  max-width: 90%;
  margin-bottom: -1em;
 }
 /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.calendarContainer {
  top: 5em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calendar {
  max-width: 90vmin;
  height: 90vmin;
  margin-bottom: 3em;
}

 /* styles for desktop when the browser is 600px or above */
 @media (min-width: 600px) {
  body {
   background: thistle;
  }
 }
